###> 🐙 Project related ###
/bin
!/bin/console
!/bin/phpunit
/cypress/downloads
/cypress/screenshots
/cypress/videos
###< 🐙 Project related ###


###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
