<div class="footer">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block">
                <span class="apple-link">monitortoise.dev</span>
                {% if unsubscribe_link is defined %}
                    <br> Don't like these emails? <a href="{{ unsubscribe_link }}">Unsubscribe</a>.
                {% endif %}
            </td>
        </tr>
    </table>
</div>